[submodule "/Users/jonathancarroll1/Projects/LongWinter-Hypercity/Assets/DigitalExhibitionsToolkit/Utilities2"]
	path = /Users/jonathancarroll1/Projects/LongWinter-Hypercity/Assets/DigitalExhibitionsToolkit/Utilities2
	url = https://github.com/jonathaniscarroll/Utilities2.git
